CodeExample/Chpt7/DigitalSignature/Web References/STPProvider/PostTradeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SubmitContractNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contractNote" type="s0:ContractNoteInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ContractNoteInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BuySell" type="s0:BuySellEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BuySellEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Buy" />
          <s:enumeration value="Sell" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SubmitContractNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitContractNoteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="SubmitContractNoteSoapIn">
    <part name="parameters" element="s0:SubmitContractNote" />
  </message>
  <message name="SubmitContractNoteSoapOut">
    <part name="parameters" element="s0:SubmitContractNoteResponse" />
  </message>
  <portType name="PostTradeServiceSoap">
    <operation name="SubmitContractNote">
      <input message="s0:SubmitContractNoteSoapIn" />
      <output message="s0:SubmitContractNoteSoapOut" />
    </operation>
  </portType>
  <binding name="PostTradeServiceSoap" type="s0:PostTradeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="SubmitContractNote">
      <soap:operation soapAction="http://tempuri.org/SubmitContractNote" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PostTradeService">
    <port name="PostTradeServiceSoap" binding="s0:PostTradeServiceSoap">
      <soap:address location="http://localhost/STPProvider/PostTradeService.asmx" />
    </port>
  </service>
</definitions>