CodeExample/Chpt3/SchemaValidation/Test.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="ExchangeType">
		<xs:attribute name="Code" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="NASDAQ"/>
					<xs:enumeration value="NYSE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ScripCode" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="AMSFT"/>
					<xs:enumeration value="NMSFT"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ExchangesType">
		<xs:sequence>
			<xs:element name="Exchange" type="ExchangeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ISINType">
		<xs:sequence>
			<xs:element name="Exchanges" type="ExchangesType"/>
		</xs:sequence>
		<xs:attribute name="Symbol" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="MSFT"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="FaceValue" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="10"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MarketLot" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:byte">
					<xs:enumeration value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Status" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Active"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="ISINMaster">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ISIN" type="ISINType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
